body,html{

    height: max-content;
    width:100vw;
    background-color: #36393f;
    color: white;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    font-family: Roboto Slab;
    position: fixed;    
    left: 0;
    padding-left: 0;
    margin-left: 0;


}

body{
    display: flex;
    flex-direction: row;
}






h1{
    padding-left: 20px;
    color: #2dca94;
    font-family: Secular One;

}

.logo{
    width: 50vw;
    display: flex;
    flex-direction: row;
    height: 70px;
    min-height: 5vh;
    display: flex;
    align-items: center;
    background-color: #2f3136;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px 1px black;
   
}



.menu{
    width: 50vw;
    height: 70px;
    min-height: 5vh;
    display: flex;
    justify-content: flex-end;
    background-color: #2f3136;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 5px 1px black;
    
    
}

.menu ul {
    display: flex;
    list-style: none; 
    padding-right: 20px;
    
    gap: 50px;
    align-items: center;

}


.menu ul li{
  
font-size: 20px;
text-align: center;


}


.menu ul li:hover{
    color: aquamarine;
    cursor: pointer;
    
    

}

.material-icons{
    z-index: -69;
    height:50px;
    width: 50px;
    font-size: 0;
    position: fixed;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about{
    /*background-color: crimson;*/
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.billboard{

    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 210px;
}

.details{
   /* background-color: green;*/
    width: 50vw;
    height: 80vh;
    align-items: center;
    justify-content: center;


}



.rectangle{
    background-color: #2dca94;
    width: 800px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 242px;
    min-height: 150px;
 

}

.image{
   /* background-color: yellow;*/
    height: 600px;
    width: 600px;
    position: inherit;
    background-image: url("https://www.pngarts.com/files/11/Elon-Musk-PNG-High-Quality-Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 225px;
    min-width:255px;
  
   
}





