



@media only screen and (min-width: 500px ) and (max-width: 1000px){
.menu ul li{
   font-size: 30px;
}

}
@media only screen and (max-width: 1300px) {



.image{
   height: 380px;
   width: 380px;
}
.rectangle{
   width: 600px;
   height: 250px;
}

}



 
@media only screen and (max-width: 1000px) {




    body,html{
        background-color: #2f3136;
    }

   h1{
      padding-top: 20px;
    font-size: 60px;
    color: #2dca94;
    font-family: Secular One;
   }
 .logo{
    width: 500vw;
    z-index: 1;
    background-color: rgba(255, 255,2555, 0);
    box-shadow: 0px 0px black;
 }
 .menu{
    z-index: 69;
    height: 100vh;
    width: 0;
    justify-content: center;
    padding-top: 50px;
    font-size: 30px;
    overflow-x: hidden;
    transition: width 0.5s;
    background-color: #36393f;
 }

 .menu.openmenu{ 
    width: 60vw;
    display: flex; 
     box-shadow: 1px 1px 1px 1px black;
}

 .menu ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:20px;
    font-size: 10px;
 }

 .material-icons{
    
    z-index: 70;
    right: 3px;
    top: 15px;
 }

.about{
   flex-direction: column;
   margin-top: 10vh;
}

.about{
   padding-top: 5px;
}

.billboard{
   width: 100vw;
   height: 200px;
   min-height: 200px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   position: relative;
   top: 50px;
   

}

.rectangle{
   height: 40vw;
   width: 70vw;
   max-height: 300px;
    

}
.image{
   height: 60vw;
   width: 60vw;
}

}

@media only screen and (min-width: 500px) and (max-width:1000px){
   .billboard{
      height: 400px;
      min-height: 400px;
      max-height: 400px;
   }
   .image{
      max-height: 450px;
      max-width: 450px;
   }
}



@media only screen and (min-width: 500px) and (max-width:820px){
   .billboard{
      align-items: center;
   }
   
}


@media only screen and (min-width: 1001px) and (max-width:1300px){
   .billboard{
      align-items: center;
   }

   .about{
      padding-top: 80px;
   }
   
}







